extends base

block append head
	//- script(src='/js/bundle.js')

block content
	p this is overview page

	ul
		li: a(href='/tour') tour
		li: a(href='/') home

	br
	pre= url
	br

	each tour in tours
		//- pre= tour
		ul
			li name: #{tour.name}
			li age : #{tour.age}
			li url : #{tour.url}
			li total: #{tour.ratingQuantity}
			li average: #{tour.ratingAvarage}

	- const d = new Date().toLocaleString('en-us', {month: 'long', year: 'numeric'})
	h2= d


